[submodule "zprezto"]
	ignore = all
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dotbot"]
	ignore = all
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/vim/bundle/Vundle.vim"]
	ignore = all
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "tmux/tmux-battery"]
	ignore = all
	path = tmux/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
